<h1>Score</h1>

<h2>Your Results</h2>
<p>Your score is <strong><%= @score["score"] %></strong>. <%=message%>.</p>



<!--<%= @score.each do |key, value| %>
  <p><%=key.capitalize%> : <%=value%></p>
<% end %>
